name: publish-packages

on: [push]

jobs:
  publish-packages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v2
        
      - name: Setup node
        uses: actions/setup-node@v1

      - name: Publish artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        # The GITHUB_REF tag comes in the format 'refs/tags/xxx'.
        # So if we split on '/' and take the 3rd value, we can get the release name.
        run: |
          NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          echo "Github username: ${GITHUB_ACTOR}"
          gradle publish
          
      - name: Archive ivy.xml
        uses: actions/upload-artifact@v2
        with:
          name: iv-xml-archive
          path: modules/scriptpack/build/publications/ivy
